[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "lib/ublox-MX-Pico"]
	path = lib/ublox-MX-Pico
	url = git@github.com:cornellrocketryteam/ublox-MX-Pico.git
